/*Шрифты*/
@font-face {
    font-family: "Tith";
    src: url("../fonts/TitH.ttf");
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/futura-pt-cond-medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/futura-pt-medium.ttf");
    font-weight: 450;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/futura-pt-demi.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/futura-pt-heavy.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/futura-pt-bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/futura-pt-book.ttf");
}

/*Шрифты*/
/*Общие элементы*/
:root {
    --color-basic: #0E87DF;
    --color-ground: #EFF7FB;
    --color-black: #000;
    --color-white: #FFF;
    --color-light-blue: #95C8E7;
    --color-blue-grey: #7B98B5;
    --color-light-grey: #B8C4C4;
    --color-hover: #3C9AE1;
}

::-webkit-scrollbar,
html ::-webkit-scrollbar {
    height: .9vw;
    width: .9vw;
}

::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track {
    background: var(--color-ground);
}

::-webkit-scrollbar-thumb,
html ::-webkit-scrollbar-thumb {
    background-color: var(--color-basic);
    border-radius: .625vw;
    border: .15vw solid var(--color-ground);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

button,
input {
    outline: none;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-ground);
}

/*Общие элементы*/
/*Заголовок*/
header {
    width: 100%;
    background-color: var(--color-white);
}

.phoneMenu {
    display: none;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-top: 1.45vw;
    padding-bottom: 1vw;
    margin: auto;
}

.header__left,
.header__right,
.header__center {
    display: flex;
    align-items: center;
}

.header__logo {
    display: block;
    background-repeat: no-repeat;
    width: 3.5vw;
    height: 3.5vw;
}

.header__logo path.st0 {
    stroke: var(--color-basic);
}

.header__logo path.st1 {
    fill: var(--color-basic);
}

.header__name {
    margin-left: 1.1vw;
    font-family: Futura;
    font-size: 1vw;
    font-weight: 600;
    line-height: 1.3vw;
    text-align: center;
    color: var(--color-basic);
}

.menu-button {
    display: inline-block;
    background-color: var(--color-basic);
    border-radius: .625vw;
    cursor: pointer;
}

.button__profile {
    cursor: auto;
    width: 4.8vw;
    height: 2.4vw;
    display: flex;
    justify-content: center;
}

.menu-button+.menu-button {
    margin-left: 1.1vw;
}

.button__link {
    width: 7.3vw;
    height: 1.9vw;
    padding-top: .45vw;
    font-family: Futura;
    font-size: 1vw;
    line-height: 1.3vw;
    text-align: center;
    color: var(--color-white);
}

.button__icons {
    width: 2.4vw;
    height: 2.4vw;
}

.button__profile:hover .menu-drop {
    visibility: visible;
    opacity: 1;
}

.menu-button .icon {
    display: block;
    width: 1.55vw;
    height: 1.55vw;
    margin: .4vw auto auto;
}

.menu-button .tick {
    width: .8vw;
    height: .45vw;
    margin-top: 1vw;
    margin-left: 0;
}

/*Выпадающее окно*/
.menu-drop {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 6vw;
    right: 12.5vw;
    width: 250px;
    height: 350px;
    background: var(--color-basic);
    box-shadow: 0 10px 20px 0 #000;
    border-radius: 0 0 12px 12px;
    transition: .5s ease-in-out;
    z-index: 50;
}

.drop__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 64px);
    margin: 32px 0;
}

.drop-account_info {
    display: flex;
    align-items: center;
    padding-left: 21px;
    height: 80px;
}

.drop-account_data {
    padding-left: 18px;
    display: flex;
    flex-direction: column;
}

.drop-account_data .nickname {
    margin-bottom: 15px;
    font-family: Futura;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3vw;
    color: var(--color-white);
}

.drop-account_data .balance {
    font-family: Tith;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2vw;
    color: var(--color-white);
}

.drop-account_icon {
    width: 20px;
    height: 20px;
    padding-bottom: 5px;
}

.drop-statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
    padding: 0 24px;
}

.drop-stat {
    display: flex;
    flex-direction: column;
    font-family: Futura;
    font-size: 13px;
    line-height: .8vw;
    text-align: center;
    color: var(--color-white);
}

.drop-stat__number {
    font-family: Tith;
    font-weight: 400;
    font-size: 26px;
    line-height: .9vw;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 11px;
}

.drop-button {
    display: block;
    height: 26px;
    padding-top: 4px;
    padding-left: 30px;
    background-color: var(--color-basic);
    font-family: Futura;
    font-weight: 400;
    font-size: 16px;
    line-height: 1vw;
    color: var(--color-white);
    text-align: left;
}

.drop-button:hover {
    background-color: var(--color-hover);
    transition: .2s;
}

.drop-button_icons {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    text-align: center;
}

/*Выпадающее окно*/
/*Заголовок*/

/*Каталог игр сайта*/
.gametitle {
    flex: 25%;
    display: flex;
    flex-direction: column;
    transition: .5s;
    margin-bottom: 5vw;
}

.gametitle:hover {
    scale: 1.2;
}

.namegame {
    text-align: center;
    font-family: Futura;
    font-weight: 600;
    font-size: 1.8vw;
    color: var(--color-basic);
    margin-top: 1vw;
}

.img-game {
    width: 10vw;
    height: 10vw;
    margin: auto;
}

/*Каталог игр сайта*/

/*Модальные окна*/
.modal_window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.35);
}

.registration_window,
.confirmation_window,
.thanksforpay_window,
.succesregistration_window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-white);
    border-radius: 1.4vw;
    padding: 2vw 3.3vw 3.3vw;
}

.modal_window .registration_window {
    width: 20vw;
    height: 32vw;
    margin: 7vw auto;
}

.modal_window .confirmation_window {
    width: 30vw;
    height: 15vw;
    margin: 13vw auto;
}

.modal_window .thanksforpay_window {
    width: 20vw;
    height: 10vw;
    margin: 17vw auto;
}

.modal_window .succesregistration_window {
    width: 20vw;
    height: 10vw;
    margin: 17vw auto;
}

.button__thanksforpay {
    width: 30%;
    height: 14%;
    padding-top: 5%;
    padding-bottom: 4%;
    font-family: Futura;
    font-weight: 900;
    line-height: 1vw;
    text-align: center;
    color: var(--color-white);
    margin: 0 auto;
    font-size: 1.5vw;
}

.button__succesregistration {
    width: 30%;
    height: 14%;
    padding-top: 5%;
    padding-bottom: 4%;
    font-family: Futura;
    font-weight: 900;
    line-height: 1vw;
    text-align: center;
    color: var(--color-white);
    margin: 0 auto;
    font-size: 1.5vw;
}

.button__confirmation {
    display: grid;
    justify-content: space-around;
    width: 30%;
    height: 100%;
    padding-top: 5%;
    font-family: Futura;
    font-weight: 600;
    line-height: 1vw;
    text-align: center;
    color: var(--color-white);
    margin: 0 auto;
    font-size: 1.5vw;
}

.button__location {
    display: flex;
    justify-content: space-around;
}

.title__confirmation__window {
    font-family: 'Futura';
    font-weight: 700;
    font-size: 1.45vw;
    line-height: 1.9vw;
    text-align: center;
    color: var(--color-basic);
}

.description__confirmation__window {
    font-family: 'Futura';
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1vw;
    text-align: center;
    color: var(--color-black);
}

.modal_window .large-size {
    height: 78.4vw;
    margin: 4.2vw auto;
}

.registration_window .title {
    font-family: Tith;
    font-weight: 400;
    font-size: 5vw;
    line-height: 3.6vw;
    text-align: center;
    color: var(--color-basic);
    margin-bottom: auto;
}

.registration_window .mascot {
    width: 33%;
    height: 33%;
    margin: auto;
}

.modal_input {
    width: calc(100% - 1.25vw);
    height: 12.5%;
    padding-left: 1.25vw;
    background-color: #ECECEC;
    border-radius: .9vw;
    margin-bottom: .625vw;
    font-family: Futura;
    font-weight: 450;
    font-size: 1.25vw;
    line-height: 1.6vw;
    color: var(--color-black);
}

.modal_input::placeholder {
    color: #8D8D8D;
}

.support_flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.modal_support {
    font-family: Futura;
    font-weight: 600;
    font-size: 1vw;
    line-height: 1.35vw;
    color: var(--color-black);
    cursor: pointer;
}

.login_button,
.reg_button {
    width: 100%;
    height: 10%;
    padding-top: 2%;
    font-family: Futura;
    font-weight: 600;
    line-height: 2.4vw;
    text-align: center;
    color: var(--color-white);
    margin: 0 auto;
}

.login_button {
    font-size: 1.8vw;
}

.reg_button {
    font-size: 1.25vw;
    margin-top: auto;
}

.error-message {
    display: none;
    background-color: #FE9D9D;
    border-radius: .9vw;
    margin-bottom: .625vw;
    font-family: Futura;
    font-weight: 450;
    font-size: 1.25vw;
    line-height: 1.6vw;
    color: #A60000;
    padding: .8vw 1.25vw;
}

/*Модальные окна*/

.main__wrapper {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.wrap {
    flex-wrap: wrap;
}

.button__rectangle {
    width: 18.75vw;
    height: 2.7vw;
    padding-top: 1vw;
    font-family: Futura;
    font-weight: 450;
    font-size: 1.25vw;
    line-height: 1.6vw;
    text-align: center;
    color: var(--color-white);
    margin: 0 auto;
}

.main_title {
    font-family: Tith;
    font-weight: 400;
    font-size: 5vw;
    line-height: 3.6vw;
    text-align: center;
    color: var(--color-basic);
    padding: 2vw 0;
}

.title_catalog {
    padding: 6vw 0;
}

.top_player {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 0 2.6vw;
}

.top_player .top-nickname,
.top_player .score {
    font-family: Futura;
    font-weight: 450;
    font-size: 1.25vw;
    line-height: 1.6vw;
    color: var(--color-black);
}

.top_player .avatar,
.small__grey__rectangle .avatar {
    width: 2.9vw;
    height: 2.9vw;
}

.top_player .nickname {
    margin-left: 1vw;
}

.top_player .score {
    text-align: right;
}

.white_rectangle .present path,
.back_image path,
.coin_image path,
.settings__account path,
.button__coins .coins path,
.gametitle path,
.games_square .game_image path {
    fill: var(--color-basic);
}

.gametitle path.red,
.game_image path.red {
    fill: red;
}

.avatars {
    width: 6.65vw;
    height: 6.65vw;
    border: .3vw solid var(--color-basic);
    border-radius: 50%;
}

.avatars+.avatars {
    margin-left: 24px;
}

/*Страница с инфой об игре*/
.main_block {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .625vw;
    background-color: var(--color-basic);
    margin: 4.3vw auto;
}

.namegame_rectangle {
    display: flex;
    width: 100%;
    height: 25vw;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-basic);
    border-radius: .625vw;
    margin: auto;
}

.line-chess {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 4.3vw 5% 0;
}

.chess1 {
    font-family: Futura;
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 2.4vw;
    text-align: center;
    color: var(--color-white);
}

.right_button-white {
    background-color: var(--color-white);
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 1vw;
    border-radius: .625vw;
}

.right_button-white .coin_image {
    display: block;
    width: 2.6vw;
    height: 2.6vw;
    margin: .45vw auto;
}

.right_button-white .back_image {
    display: block;
    height: 1.6vw;
    margin: .95vw auto;
}

.botton-line-chess {
    display: flex;
    margin-top: 2%;
    margin-bottom: 4.3vw;
}

.rook_img {
    width: 14vw;
    height: 14vw;
    padding-left: 5%;
}

.functions {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.button_game {
    color: var(--color-basic);
    background-color: var(--color-white);
    margin-left: 6.1%;
    height: 1vw;
    width: 17vw;
    padding-top: .6vw;
    padding-bottom: 1.1vw;
    margin-bottom: .5vw;
}

.counter-chess {
    display: flex;
    justify-content: space-between;
    margin: 3.5vw auto auto;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-right: 4vw;
    margin: auto;
}

.counter-p {
    color: var(--color-white);
    font-family: Tith;
    font-size: 3vw;
}

.counter .text {
    color: var(--color-white);
    font-family: Futura;
    font-size: 1.5vw;
    padding-top: 1vw;
}

.rategame_rectangle {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius: .625vw;
    margin: auto auto .4vw;
}

.title_rate {
    font-family: Futura;
    font-weight: 600;
    font-size: 2vw;
    line-height: 2.4vw;
    text-align: center;
    color: var(--color-basic);
    padding-top: 1.5vw;
    padding-bottom: 3vw;
}

.rate_white {
    width: 75%;
    margin: auto;
}

.player_rate {
    margin-bottom: 1.1vw;
    display: flex;
}

.player_stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2vw;
    padding-bottom: .5vw;
    border-bottom: .2vw solid var(--color-light-blue);
    border-radius: .11vw;
    width: 100%;
}

.top_player .nick_rate {
    margin-left: .5vw;
}

.nick_rate {
    font-family: Futura;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.6vw;
    text-align: left;
    color: var(--color-black);
}

.score_kda {
    text-align: center;
    font-family: Futura;
    font-weight: 450;
    font-size: 1.25vw;
    line-height: 1.6vw;
    color: var(--color-black);
}

.betting_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8vw 3.6vw;
    margin: 4.5vw auto;
    width: 60%;
}

.in_rating {
    margin: 1vw auto;
    width: 81%;
}

.betting_menu select,
.betting_menu input {
    flex: 1 0 19vw;
    height: 4vw;
    background-color: var(--color-basic);
    border-radius: .625vw;
    color: var(--color-white);
}

.betting_menu select {
    cursor: pointer;
    padding-left: 0.7vw;
    font-family: Futura;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 2vw;
}

.betting_menu input {
    flex: initial;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 18.25vw;
}

.betting_menu input::-webkit-input-placeholder {
    color: var(--color-white);
    opacity: 0.3
}

.text-summ-visible {
    display: none;
    position: absolute;
    top: 79.6%;
    left: 51.7%;
    font-family: Futura;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 2vw;
    cursor: pointer;
    text-align: left;
    justify-content: center;
    width: 19vw;
    height: 3vw;
    padding-top: 1.5vw;
    padding-left: 1.2vw;
    opacity: 0.3;
    color: var(--color-white);
}

.text-summ-visible--invisible {
    display: none;
}

.text-input {
    font-family: Futura;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 2vw;
}

.choose_game {
    font-family: Futura;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 2vw;
    border-radius: .625vw;
    padding: 2vw;
}

.betting_menu .menu-button {
    flex: 1 0 38vw;
    height: 3vw;
    padding-top: 1vw;
    font-family: Futura;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 2vw;
    text-align: center;
    color: var(--color-white);
    transition: .2s;
}

.betting_menu .menu-button:hover {
    scale: .95;
}

/*Страница с инфой об игре*/

/*Повторяющиеся элементы*/
#header_login,
#structure,
.modal_window {
    display: none;
}

.smiles_box img:hover,
#password_menu button:hover,
.current_button:hover,
.prize_button:hover,
.message_box button:hover,
.button__link:hover,
.button__icons:hover,
.button__rectangle:hover,
.button__registration:hover,
.right_button-white:hover,
.button__settings:hover,
.button__account__blue:hover,
.pricebutton:hover,
.button__confirmation:hover,
.button__thanksforpay:hover {
    scale: .95;
    transition: .2s;
    cursor: pointer;
}

.login_button:hover,
.reg_button:hover {
    background-color: var(--color-hover);
    scale: .95;
    transition: .2s;
}

.account__right__blue,
.right_button {
    display: flex;
}

.box {
    display: flex;
    align-items: stretch;
}

.game_padding {
    padding-left: 10px;
}

#projection,
#field {
    text-align: center;
    color: var(--color-black);
    font-family: 'Futura';
    font-weight: 450;
    font-size: 1.25vw;
    margin-bottom: 1vw;
}

@media (max-width: 800px) {

    /*Header*/

    .header__center {
        visibility: hidden;
        opacity: 0;
    }

    .phoneMenu {
        display: block;
        width: 6vw;
        height: 6vw;
        background: var(--color-basic);
        color: var(--color-white);
        border-radius: .625vw;
    }

    .phoneMenu span {
        display: none;
    }

    .phoneMenu svg path {
        fill: var(--color-white);
    }

    .phoneMenu:hover span {
        display: block;
    }

    .phoneMenu:hover svg {
        display: none;
    }

    .header__wrapper {
        padding-top: 2vw;
        padding-bottom: 1.5vw;
    }

    .header__right .button__icons {
        display: none;
    }

    .header__center {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: var(--color-basic);
        box-shadow: 0 10px 20px 0 #000;
        border-radius: 0 0 12px 12px;
        transition: .5s ease-in-out;
        z-index: 50;
    }

    .header__center .button__link {
        width: 45vw;
        height: 7vw;
        font-size: 5vw;
        line-height: 6.3vw;
        background: var(--color-hover);
        margin: 4vh 0;
    }

    .menu-button+.menu-button {
        margin-left: 0;
        margin-top: 0;
    }

    .header__name {
        font-size: 4vw;
    }

    .header__logo {
        width: 9vw;
        height: 9vw;
    }

    .button__profile {
        width: auto;
        height: auto;
        background: transparent;
    }

    .menu-button .icon {
        width: 8vw;
        height: 8vw;
        border: 0.25vw solid var(--color-basic);
        border-radius: 50%;
    }

    .menu-button .tick {
        display: none;
    }

    .header__center,
    .menu-drop {
        top: 12.45vw;
        left: 50%;
        transform: translateX(-50%);
        width: 65vw;
    }

    #header_unlogin .button__link {
        width: 12vw;
        height: 6vw;
        font-size: 4vw;
        line-height: 5.3vw;
    }

    /*Header*/

    .blue__rectangle {
        height: auto;
    }

    .white__square {
        width: 80%;
        margin-bottom: 2vh;
        height: auto;
    }

    .neheader__name {
        font-size: 3.5vh;
        line-height: 3vh;
    }

    .neheader__text {
        font-size: 1.9vh;
        line-height: 2.5vh;
    }

    .neheader__logo {
        height: 5vh;
        width: 5vh;
    }

    /*Игры*/

    .gametitle {
        margin-bottom: 5vh;
    }

    .namegame {
        font-size: 4.8vw;
    }

    .img-game {
        width: 35vw;
        height: 35vw;
    }

    /*Игры*/

    /*Главная*/

    .main__wrapper {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .main_title {
        font-size: 5vh;
        line-height: 3.6vh;
        padding: 2vh 0;
    }

    .title_catalog {
        padding: 6vh 0;
    }

    .white_rectangle {
        width: 30vh;
        height: 39vh;
        border-radius: .625vh;
        margin-bottom: 6vh;
        padding: 3.3vh 0;
    }

    .white_rectangle .title {
        font-size: 2.8vh;
        line-height: 2.3vh;
    }

    .white_rectangle
    .button__rectangle {
        width: 18.75vh;
        height: 2.7vh;
        padding-top: 1vh;
        font-size: 1.25vh;
        line-height: 1.6vh;
    }

    .top_player {
        padding: 0 2.6vh;
    }

    .top_player .top-nickname,
    .top_player .score {
        font-size: 1.5vh;
        line-height: 1.6vh;
    }

    .top_player .avatar,
    .small__grey__rectangle .avatar {
        width: 2.9vh;
        height: 2.9vh;
    }

    .top_player .nickname {
        margin-left: 1vh;
    }

    .player_stats {
        align-items: center;
    }
    /*Главная*/

    /*Модальные окна*/

    .modal_window {
        min-height: 200vh;
    }

    .registration_window,
    .confirmation_window,
    .thanksforpay_window,
    .succesregistration_window {
        border-radius: 1.4vh;
        padding: 2vh 3.3vh 3.3vh;
    }

    .modal_window .registration_window {
        width: 30vh;
        height: 48vh;
        margin: 20vh auto;
    }

    .modal_window .confirmation_window {
        width: 30vh;
        height: 15vh;
        margin: 13vh auto;
    }

    .modal_window .thanksforpay_window {
        width: 20vh;
        height: 10vh;
        margin: 17vh auto;
    }

    .modal_window .succesregistration_window {
        width: 20vh;
        height: 10vh;
        margin: 17vh auto;
    }

    .button__thanksforpay {
        line-height: 1vh;
        font-size: 1.5vh;
    }

    .button__succesregistration {
        line-height: 1vh;
        font-size: 1.5vh;
    }

    .button__confirmation {
        line-height: 1vh;
        font-size: 1.5vh;
    }

    .title__confirmation__window {
        font-size: 1.45vh;
        line-height: 1.9vh;
    }

    .description__confirmation__window {
        font-size: 1.4vh;
        line-height: 1vh;
    }

    .modal_window .large-size {
        height: 78.4vh;
        margin: 4.2vh auto;
    }

    .registration_window .title {
        font-size: 5vh;
        line-height: 3.6vh;
    }

    .modal_input {
        width: calc(100% - 1.25vh);
        padding-left: 1.25vh;
        border-radius: .9vh;
        margin-bottom: .625vh;
        font-size: 2.25vh;
        line-height: 1.6vh;
    }

    .support_flex {
        margin-bottom: 3vh;
    }

    .modal_support {
        font-size: 2.5vw;
        line-height: 2.35vh;
    }

    .login_button,
    .reg_button {
        line-height: 7.4vw;
    }

    .login_button {
        font-size: 5.8vw;
    }

    .reg_button {
        font-size: 4.25vw;
    }

    .error-message {
        border-radius: .9vh;
        margin-bottom: .625vh;
        font-size: 1.25vh;
        line-height: 1.6vh;
        padding: .8vh 1.25vh;
    }

    /*gameinfo*/
    .namegame_rectangle {
        height: auto;
    }
    /*gameinfo*/

    .botton-line-chess {
        margin-bottom: 4.3vw;
        flex-wrap: wrap;
        gap: 1.8vw 6.6vw;
    }

    .functions {
        margin: 0;
    }

    .button_game {
        margin-left: 0;
        font-size: 3vw;
        height: 2.5vw;
        width: 28vw;
        padding-top: 1.5vw;
        margin-bottom: 1vw;
    }

    .rook_img {
        width: 17vw;
        height: 17vw;
    }

    .title_rate {
        font-size: 4vw;
        padding-top: 3.5vw;
    }

    .right_button-white {
        width: 5vw;
        height: 5vw;
    }

    .right_button-white .back_image {
        height: 3.2vw;
    }

    .right_button-white:first-child {
        display: none;
    }

    .counter-chess {
        margin: 3.5vw auto;
    }

    .counter-chess .counter {
        padding: 0 3vw;
    }

    .counter .counter-p {
        font-size: 6vw;
    }

    .counter .text {
        font-size: 3.5vw;
    }
}